html {

	margin: auto;
	background-color: white;

	width: auto;
}

.maindiv {
	width: 1000px;
	background-color: 	#E0FFFF;
	border-radius: 30px 30px 0 0;
	margin: 0 160px;
}

#mainmenucaption {
	
	font-family: sans-serif;
	color: green;
	font-weight: bold;
	margin-top: 22px;
}
th a {
	font-family: sans-serif;
	size: 20px;
	font-weight: bold;
	color: #006400;
	padding: 2px;
}

th {
	border-radius: 5px;
	box-shadow: 4px 4px 3px solid black;
}

tr > th:hover {
	background-color: #708090;
}

td{
	background-color: 	#f9f9f9;
}

.bodyofphysicians {
	height: 1250px;
	width: 743px;
	margin-top: 26px;
	margin-left: 250px;
}


.bodyofphysicians table{
	width: 703px;
}

.mainheaderofphysicianlist{
	font-family: serif,Arial;
	font-size: 43px;
	text-shadow: 2px 2px 2px black;
	color:yellow;
	width: 292px;
	box-shadow: 2px 2px 2px black;
	margin-left: 200px;
	text-align: center;
	border-radius: 10px;
	background-color: red;
}


td {
	text-align: center;
	border: 1px dotted red;
	border-spacing: 5px;
}


.tablerowheader{
	font-size: 30px;
	color: green;
	text-align: center;
	text-shadow: 2px 2px 2px black;
}

td>img{
	border:1px solid black;
	padding: 2px;
}


